<nav class="navbar navbar-expand fixed-top">
    <div class="navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/employee" routerLinkActive="active">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/active-employee" routerLinkActive="active">Active Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/salary-details" routerLinkActive="active">Salary Details</a>
        </li>
      </ul>
    </div>
  </nav>
  