<div class="container mt-4">
    <div>
        <h1 class="text-center">Employee Registration</h1>
    </div>
    <form #employeeForm="ngForm" class="mt-4">
        <div class="mb-4">
            <label for="employeeId" class="form-label">
                Employee ID
            </label>
            <input 
            type="text"
            class="form-control"
            id="employeeId"
            [(ngModel)]="newEmployee.empId"
            name="id"
            pattern="E\d+"
            required
            [attr.disabled]="editingEmployee ? true : null"
            #employeeId="ngModel"
            >
            <div
            *ngIf="(employeeId.dirty && employeeId.invalid)"
            class="text-danger"
            >
            Please enter a valid employee ID (e.g., E123)
            </div>

            <div class="mb-4 mt-3">
                <label for="employeeName"
                class="form-label"
                >
                Employee Name
                </label>
                <input 
                type="text"
                class="form-control"
                id="employeeName"
                [(ngModel)]="newEmployee.name"
                name="name"
                pattern="^[a-zA-Z ]+$"
                required
                [attr.disabled]="editingEmployee ? true : null"
                #employeeName="ngModel"
                >
                <div
                *ngIf="(employeeName.dirty && employeeName.invalid)"
                class="text-danger"
                >
                Please enter a valid name (letters and spaces only)
                </div>
            </div>

            <div class="mb-3">
                <label for="employeeContact" class="form-label">Contact</label>
                <input
                  type="text"
                  class="form-control"
                  id="employeeContact"
                  [(ngModel)]="newEmployee.contact"
                  name="contact"
                  pattern="0\d{2}-\d{7}"
                  required
                  #employeeContact="ngModel"
                />
                <div
                *ngIf="(employeeContact.dirty && employeeContact.invalid)"
                class="text-danger"
                >
                Please enter a valid contact number (e.g., 0xx-xxxxxxx)
                </div>
             </div> 

             <div class="mb-3">
                <label for="employeeAddress" class="form-label">Address</label>
                <input
                type="text"
                class="form-control"
                id="employeeAddress"
                [(ngModel)]="newEmployee.address"
                name="address"
                required
                minlength="4"
                #employeeAddress="ngModel"
                />
                <div
                *ngIf="(employeeAddress.dirty && employeeAddress.invalid)"
                class="text-danger"
                >
                Please enter a valid address (minimum length: 4 characters).
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid"
        (click)="saveOrUpdateEmployee()"
        >
            {{ editingEmployee ? 'Update' : 'Add' }}
            
        </button>
    </form>

    <div class="employee-list">
        <h3 class="mt-3 text-center">Employee List</h3>

        <div class="mb-4">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search by name or ID">
          </div>
        

        <table class="table mt-4 text-center table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>CONTACT</th>
                    <th>ADDRESS</th>
                    <th>STATUS</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of filteredEmployees" [class.inactive]="isEmployeeInactive(employee)">
                    <td>{{ employee.empId }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.contact }}</td>
                    <td>{{ employee.address }}</td>
                    <td>{{ employee.status ? 'Active' : 'Inactive' }}</td>
                    <td>
                      <button class="btn btn-warning" (click)="editEmployee(employee)" [attr.disabled]="editingEmployee ? true : null">Edit</button>
                      <button class="mx-2 btn btn-danger" (click)="deactivateEmployee(employee.empId)" [disabled]="!employee.status">Deactivate</button>
                    </td>
                  </tr>
                
            </tbody>

        </table>
    </div>
</div>
