<app-header></app-header>
<div class="container home-container">
    <h1 class="text-center text-primary">Employee Management App</h1>
  
    <!-- Colorful Images -->
    <div class="image-container">
      <img src="https://media.licdn.com/dms/image/C510BAQEySB6ssDM8eg/company-logo_200_200/0/1630563310879/hirdaramani_group_of_companies_logo?e=2147483647&v=beta&t=ZbbojjIQ9-1XWflzdjfDo2bcBmWhn40f4mHiRObzacM" alt="Image 1">
    </div>
</div>
  
  
<router-outlet></router-outlet>

<!-- <footer class="footer mt-auto bg-light fixed-bottom" style="height: 50px;">
    <div class="container text-center">
      <span class="text-muted">© 2024 Employee Management App</span>
    </div>
</footer> -->
